ui menu.c32

menu title CMU Laptop Rehab

label memtest
    menu label Step 1: Test ^Memory (run for 1 hour)
    kernel /boot/extra/mt86plus

label dban-nuke
    menu label Step 2: ^Wipe Hard Drive (automated)
    kernel /boot/extra/dban.bzi
    append nuke="dwipe --autonuke --method dodshort" silent nousb vga=785

label ubuntu-install
    menu label Step 3: ^Install Ubuntu (automated)
	kernel /boot/vmlinuz
	append initrd=/boot/core.gz loglevel=3

prompt 1	
timeout 100
