{##############################################################################
# laptop_sheet.html                                                           #
#                                                                             #
# Template for laptop sheet handouts to go with each donated laptop.          #
#                                                                             #
#                                                                             #
#   Authors: Wolfgang Richter <wolf@cs.cmu.edu>                               #
#                                                                             #
#   Copyright 2013 Laptop Rehab Project                                       #
#                                                                             #
# Permission is hereby granted, free of charge, to any person obtaining a     #
# copy of this software and associated documentation files (the "Software"),  #
# to deal in the Software without restriction, including without limitation   #
# the rights to use, copy, modify, merge, publish, distribute, sublicense,    #
# and/or sell copies of the Software, and to permit persons to whom the       #
# Software is furnished to do so, subject to the following conditions:        #
#                                                                             #
#     The above copyright notice and this permission notice shall be included #
#     in all copies or substantial portions of the Software.                  #
#                                                                             #
#     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS #
#     OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF              #
#     MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  #
#     IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY    #
#     CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,    #
#     TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE       #
#     SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.                  #
##############################################################################}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Welcome to Your New Laptop!</title>
    </head>
    <body style="width: 800px; margin: auto; text-align: justify;">

        <h1 style="text-align: center;">Laptop Rehab Project: Enjoy Your
                                        {{ laptop_name }}</h1>
        <hr />

        <p>Welcome to your new laptop from the Laptop Rehab Project based at
           Carnegie Mellon University (Pittsburgh, PA, USA).  It has been
           rehabilitated and pre-loaded with
           <strong>{{ OS }}</strong> containing lots of
           <strong>educational software and games.</strong></p>

        <p>It might not be perfect, but this datasheet will tell you everything
           we know about your rehabilitated laptop.  Some parts might not be
           working, which we document below.  If you need help with your
           laptop, fearless volunteers can be contacted by email: 
           <a href="mailto:{{ email }}" style="color: #000;">{{ email }}</a>.
           Every laptop we ship can at least boot, hold charge for 30 minutes,
           and connect to WiFi.</p>
        <hr />

        <h3>Login Details</h3>
            <ul style="list-style-type: none; font-size: 1.2em;">
                <li><strong>Username: </strong>{{ username }}</li>
                <li><strong>Password: </strong>{{ password }}</li>
            </ul>
        <hr />

        <h3>Laptop Stats</h3>
        <ul style="list-style-type: none;">
            {% for stat in stats %}{% if stats[stat] %}<li><strong>{{ stat }}:</strong> {{ stats[stat] }}</li>{% endif %}
            {% endfor %}
        </ul>
        <hr />

        <h3>More Information</h3>
        <ul style="list-style-type: none;">
            <li><strong>Installed Apps:</strong><a href="http://goo.gl/C0qvPd"
                                                   style="color: #000;">
                                                  http://goo.gl/C0qvPd</a></li>
            <li><strong>Ubuntu Manual:</strong><a href="http://goo.gl/FNxcHO"
                                                  style="color: #000;">
                                                  http://goo.gl/FNxcHO</a></li>
        </ul>

        <footer style="text-align: center;">
        <small>Laptop rehabilitated and shipped by the Laptop Rehab Project @
               CMU (2013)</small>
        <footer>
    </body>
</html>
